<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="{{ url_for('static',filename='js/Chart.min.js') }}"></script>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .btn{
        height: 25px;
        line-height: 25px;
        padding: 0 1rem;
      }
    </style>


  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: new google.maps.LatLng(2.8,-187.3),
          mapTypeId: 'terrain'
        });

        // Create a <script> tag and set the USGS URL as the source.


        var script = document.createElement('script');
        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        script.src = eqfeed_callback({
            "features":[
              {% for item in data %}
              {
                "geometry":{
                  "type":"Point",
                  "coordinates":[{{ item.5 }},{{ item.6 }}],
                },
                "id":"{{ item.1 }}",
                "name":"{{ item.2 }}",
                "status":"{{ item.4 }}",
                "email":"{{ item.3 }}",
                "phone":"{{ item.8 }}",
                "visibility":"{{ item.7 }}",
              },
              {% endfor %}
            ]
          });
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      // Loop through the results array and place a marker for each
      // set of coordinates.
      window.eqfeed_callback = function(results) {
        var vars = {};
        for (var i = 0; i < results.features.length; i++) {
          var coords = results.features[i].geometry.coordinates;
          var id = results.features[i].id;
          var name = results.features[i].name;
          var status = results.features[i].status;
          var latLng = new google.maps.LatLng(coords[0],coords[1]);
          marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
          attachSecretMessage(marker,id,name,status);
          var infowindow = new google.maps.InfoWindow();

          function attachSecretMessage(marker,id,name,status) {
              marker.addListener('click', function() {

                var infowindow = new google.maps.InfoWindow();
                msg = '<div><strong>'+name+'</strong></div><br/>';
                msg += '<div><p>'+status+'</p></div>'
                msg += '<div><a href="/test/" class="btn waves-effect waves-light blue lighten-1">Send</a></div>';

                infowindow.setContent(msg);
                  infowindow.open(map, this);
              /*
              var win = window.open('http://messenger.com/'+id, '_blank');
                if (win) {
                   win.focus();
                } else {
                   alert('Please allow popups for this website');
                }*/
            });
          }
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2uedkiOlLbkHmRCZ5G4mzUpbayOJUUs0&callback=initMap">
    </script>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/materialize.js') }}"></script>
    <script src="{{ url_for('static',filename='js/init.js') }}"></script>

  </body>
</html>
